<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <appSettings>
    <add key="APPNAME"        value="NorenTrader"/>                                               <!--App Name-->
    <add key="PATH"           value="C:\workspace2\cpu bandwidthmonitor_\bandwidthmonitor_"/>     <!--Path Name-->
    <add key="TIMER"          value="5"/>                                                         <!--Timer Value(default :5)-->
    <add key="LEVEL"          value="2"/>                                                         <!--1 -> Application wise 2 -> Port wise-->
    <!--<add key="PORT"           value="5401"/>                                                      --><!--Logs particular ports data-->
  </appSettings>
</configuration>